.wrapper {
	min-height: 100vh;

	position: relative;
	background-image: url('../../../public/backgroundImg.jpg');
	background-position: center;
	position: relative;
}

.wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
}

.btn__home {
	padding: 20px 0px 20px 0px;
}
