#wrapper {
	border: 1px solid rgb(222, 210, 210);
	padding: 30px 0px 20px 0px;
}
.cardPage__space {
	margin: 0px 15px 0px 15px;
}
.cardPage {
	margin: 0px 0px 20px 0px;
}
.cardPage__title {
	color: black;
}
.cardPage__moreInfo {
}
