.wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 70px 0px 20px 0px;
	background: linear-gradient(135deg, #221d31, rgb(89, 118, 133));

	z-index: 1;
	overflow: hidden;
}

.wrap__card {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	width: 78%;
}
.search__card {
	min-height: 200px;
	min-width: 250px;
	margin: 15px 10px 15px 10px;
	color: black;
	font-weight: 600;
}
.search__cardImg {
	height: 100%;
}

.search__description {
	background-color: cornflowerblue;
	padding: 10px;
	border: 2px solid white;
	margin: 0px 0px 15px 50px;
}
.search__descriptionText {
	font-weight: 600;
	color: white;
	padding-left: 10px;
}
