.highlight {
    animation: highlight 4s ease-in-out;
}

@keyframes highlight {
    0%,
    100% {
        background-color: inherit;
    }
    50% {
        background-color: #1677ff; /* Цвет подсветки */
    }
}
.formWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    max-width: 623px;
    max-height: 485px;
    background-color: white;
    margin: auto auto;
    border-radius: 15px;
}
.found .formWrap {
    max-height: 600px; /* Applied when switcherLostOrFound is "FOUND" */
}
