// @media screen and (max-width: 559px) {
//     .titleSize {
//         font-size: 5px;
//     }
// }
.fontSizeTittle {
    font-size: 40px;
}
.ant-typography {
    font-size: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 770px) {
    .ant-typography {
        font-size: 21px;
    }
}
@media screen and (max-width: 572px) {
    .ant-typography {
        font-size: 21px;
    }
}
@media screen and (max-width: 559px) {
    .ant-typography {
        font-size: 20px;
    }
}

@media screen and (max-width: 422px) {
    .ant-typography {
        font-size: 18px;
    }
}
@media screen and (max-width: 397px) {
    .ant-typography {
        font-size: 13px;
    }
}
