.buttonCreateAdd {
    border-radius: 0px 10px 10px 0px;
    // font-size: 17px;
    height: 39px;
    
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 562px) {
}

@media screen and (max-width: 510px) {
    .buttonCreateAdd {
        width: 25px;
        
        font-size: 0px;
        &::before {
            content: "+";
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 389px) {
    .buttonCreateAdd {
        width: 20px;
        font-size: 0px;
        &::before {
            content: "+";
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
