.wrapper {
	position: absolute;

	top: 0;
	right: 0;
	left: 0;
}

.ant-layout-header {
	/* height: 10%; */
	height: auto;
	/* padding: 0 50px; */

	/* line-height: 64px; */
	background: #d8543d;
}
.buttonCreateAdd {
	border-radius: 0px 10px 10px 0px;

	height: 39px;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 562px) {
}

@media screen and (max-width: 510px) {
	.buttonCreateAdd {
		width: 25px;

		font-size: 0px;
		&::before {
			content: '+';
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media screen and (max-width: 389px) {
	.buttonCreateAdd {
		width: 20px;
		font-size: 0px;
		&::before {
			content: '+';
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.wrapper__singlePage {
	position: absolute;
	background: rgba(118, 146, 181, 0.9);
	top: 0;
	right: 0;
	left: 0;
}
