.footer__address {
	padding: 10px 0px 0px 0px;
}

.footer__textAddress {
	font-size: 20px;
}
.footerColor {
	background-color: aliceblue;
}
.footer__logo {
	color: steelblue;
	font-size: 45px;
	font-weight: bold;
	opacity: 0.85;
}

.footer__textAddress {
	font-size: 13px;
}
@media screen and (max-width: 900px) {
	.footer__logo {
		font-size: 35px;
	}
	.footer__textAddress {
		font-size: 13px;
	}
}
@media screen and (max-width: 600px) {
	.footer__logo {
		font-size: 25px;
	}

	.footer__textAddress {
		font-size: 13px;
	}
}
@media screen and (max-width: 371px) {
	.footer__logo {
		font-size: 20px;
	}
	.footer__textAddress {
		font-size: 11px;
	}
}

@media screen and (max-width: 371px) {
	.footer__logo {
		font-size: 20px;
	}
	.footer__textAddress {
		font-size: 11px;
	}
}
@media screen and (max-width: 323px) {
	.footer__logo {
		font-size: 20px;
	}
	.footer__textAddress {
		font-size: 11px;
	}
}
