body {
	box-sizing: border-box;

	border-bottom: none;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}
.ant-layout-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	/* height: 10%; */
	height: auto;
	padding: 0 0px;

	/* background-color: #2f5388; */
	/* line-height: 64px; */
	background: transparent;
}
.ant-input-affix-wrapper {
	border-color: #ffffff;
	background-color: rgb(62, 119, 141);
}
.ant-input-affix-wrapper:hover {
	border-color: #ffffff;
	background-color: tomato;
}
.ant-card .ant-card-head {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 56px;
	margin-bottom: -1px;
	padding: 0 24px;
	color: rgba(0, 0, 0, 0.88);
	font-weight: 600;
	font-size: 16px;
	background: transparent;
	border-bottom: none;
	border-radius: 8px 8px 0 0;
}

.ant-space-align-center {
	align-items: normal;
}

.react-tel-input .form-control {
	position: relative;
	font-size: 14px;
	letter-spacing: 0.01rem;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 48px;
	margin-left: 0;
	background: #ffffff;
	border: 1px solid #cacaca;
	border-radius: 5px;
	line-height: 25px;
	height: 35px;
	/* width         : 300px; */
	outline: none;
}
