.SliderStyle {
	width: 550px !important;
	padding: 3px;
}
.ContentStyle {
	display: flex;
	justify-content: center;
}
.slider_itemPosition {
	text-align: start;
}
.carousel__wrapper {
	// display: flex;
	// justify-content: center;
}
.card__img {
	height: 200px;

	border-radius: 5px;
}
